@page "/sair"
@inherits LogoutPage
@layout HeadlessLayout

<PageTitle>Dima - Sair</PageTitle>

<MudText Typo="Typo.h3">Finalizando sessão...</MudText>
<MudPaper Class="pa-8 mt-4">
    <div class="d-flex jutify-center pb-8 pt-8">
        <img src="imgs/dima.png" alt="Dima - Seu Controle Financeiro" width="200" height="200"/>
    </div>
    <MudAlert Severity="Severity.Info">
        Finalizando alt sessão...
        <MudButton Variant="Variant.Text" Href="/">
            Ir para tela de login
        </MudButton>
    </MudAlert>
</MudPaper>