@page "/comecar"
@layout HeadlessLayout
@inherits RegisterPage

<PageTitle>Registrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper class="mud-width-full pa-8">
            <div class="d-flex justify-center pb-5 pt-5">
                <img src="imgs/dima.png" alt="Dima - controle financeiro" width="200" />
            </div>
            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <MudTextField T="string" @bind-Value="InputModel.Email" For="@(() => InputModel.Email)" Label="E-mail"
                    HelperText="Campo obrigaório" InputType="InputType.Email" Placeholder="seuEmail@mail.com" />
                <MudTextField T="string" @bind-Value="InputModel.Password" For="@(() => InputModel.Password)"
                    Label="Senha" HelperText="Campo obrigaório" InputType="InputType.Password" />
                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Color="Color.Primary">Cadastrar
                        </MudButton>
                        <MudSpacer />
                        <MudButton Href="/login">Já tenho uma conta</MudButton>
                    }
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>
